<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/css/style.css" type="text/css" />
		<title>{{!-- NAME OF PROJECT --}}</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- JAVASCRIPT FILE GOES HERE --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
