<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Cobra </title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- BOOTSTRAP CDN --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{{!-- JAVASCRIPT FILE GOES HERE HAVENT DONE YET --}}
		
		<link rel="stylesheet" type='text/css' href="../../public/assets/css/style.css"/>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
