<div class="container-fluid" id="game-page-background">
    <div class="container">
        
        <div class="row">
            <div class="col-md-1"></div>
            <h1 class="click-game col-md-10">WELCOME <span class="current-user">{{username}}</span></h1>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <h1 class="click-game col-md-10">CLICK ON A GAME TO PLAY</h1>
            <button class="logout-button">LOGOUT</button>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {{!-- flappy bird --}}
                <div class="carousel-item active">
                    <a href="/playFlappyBird"><img class="game-img flappy-bird-game" src="../public/assets/img/flappybird1.png"
                            alt="flappy bird"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="game-name-background">
                            <h5>Flappy Bird</h5>
                            <p>Side-scroller game where the player controls a bird, attempting to fly between columns of green pipes without hitting them.</p>
                        </div>
                    </div>
                </div>
                {{!-- Cobra --}}
                <div class="carousel-item">
                    <a href="/playCobra" class="cobra-game"><img class="game-img" src="../public/assets/img/snake.png" alt="cobra"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="game-name-background">
                            <h5>Cobra</h5>
                            <p>Player maneuvers a line which grows in length, with the line itself being a primary obstacle.</p>
                        </div>
                    </div>
                </div>
                {{!-- Ping Pong --}}
                <div class="carousel-item">
                    <a href="/playPingPong"><img class="game-img ping-pong-game" src="../public/assets/img/ping-pong.PNG" alt="ping pong"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <div class="game-name-background">
                            <h5>Ping Pong</h5>
                            <p>Ping Pong is a two-dimensional sports game that simulates table tennis.</p>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <hr>
        <div class="card">
            <h2 class="main-title">HIGHSCORES</h2>
        </div>
        <div class="card">
            <div class="card-body row">
                <div class="col-md-4">
                    <h3>FLAPPY BIRD</h3>
                    {{!-- HIGHSCORES GO HERE --}}
                    <ul class="list-group">
                        <li class="list-group-item">1. </li>
                        <li class="list-group-item">2. </li>
                        <li class="list-group-item">3. </li>
                        <li class="list-group-item">4. </li>
                        <li class="list-group-item">5. </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>COBRA</h3>
                    {{!-- HIGHSCORES GO HERE --}}
                    <ul class="list-group">
                        <li class="list-group-item">1. </li>
                        <li class="list-group-item">2. </li>
                        <li class="list-group-item">3. </li>
                        <li class="list-group-item">4. </li>
                        <li class="list-group-item">5. </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>PING PONG</h3>
                    {{!-- HIGHSCORES GO HERE --}}
                    <ul class="list-group">
                        <li class="list-group-item">1. </li>
                        <li class="list-group-item">2. </li>
                        <li class="list-group-item">3. </li>
                        <li class="list-group-item">4. </li>
                        <li class="list-group-item">5. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>