<nav class="navbar navbar-dark">
  <h1 class="navbar-brand nav-title">COBRA ARCADE</h1>
  
</nav>
<div class="container">
  <div class="card">
    <h1 class="main-title">Login?</h1>
  </div>

  <hr>
  <div class="card">
    <div class="card-body">
      <h2>GAME NAME</h2>
      {{!-- <img src="..." alt="GAME IMG"> --}}
      <button>PLAY</button>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-body">
      <h2>GAME NAME</h2>
      {{!-- <img src="..." alt="GAME IMG"> --}}
      <button>PLAY</button>
    </div>
  </div>
</div>