<div class="container">
  <div class="main-card">
    <h1 class="main-title">WELCOME TO COBRA ARCADE!</h1>
    <form id="create-user" method="POST" action="/verifyUser">
      <div class="form-group" id="user-login">
        <label for="userName">Username</label>
        <input name="userName" type="username" class="form-control login-field" placeholder="Enter username" id="username">
      </div>
      <hr>
      <div class="form-group" id="user-login">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control login-field" placeholder="Enter password" id="pwd">
      </div>
      <div id="user-login">
        <input type="submit" class="btn btn-primary submit-btn" value="Login" form="create-user">
      </div>
    </form>
    <div id="user-login">
    <button onclick="window.location.href='/signUp';" id="sign-up-btn">SIGN UP HERE</button>
    </div>
  </div>

  <hr>
  <div class="card">
    <div class="card-body">
      <h2>Description</h2>
      <p>Welcome to Cobra Arcade! Our hope is that you’ll be able to take advantage of this website to take a break from your busy lives and rest your brain while having some fun! Our team is so excited for you to enjoy a nostalgic trip down game history to play classic titles such as Snake, Flappy Bird, and Pong. See if you can make the top score chart!</p> 
      <h3>Creators</h3>
      <p>Tim Sanders, Johnny Lieu, Aaron Platt, Matthew Rogers, Clyde Baron Rapinan</p>

    </div>
  </div>
</div>
