<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <h1 class="main-title col-md-10">FLAPPY BIRD</h1>
    </div>
    <div id="user-login">
        <button onclick="back()" class="backToGame-button">GO TO GAMES</button>
    </div>
    <iframe src="../games/Flappy_Bird/index.html" frameborder="0" style="background:transparent">
    </iframe>
</div>



<script>
    function back() {
        $("iframe")[0].src = "";
        location.replace('/games');
    }
</script>