<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <h1 class="click-game col-md-10">COBRA</h1>
    </div>
    <div id="user-login">
    <button onclick="window.location.href='/games';">GO TO GAMES</button>
    </div>
    {{!-- <h1 class="main-title">COBRA</h1> --}}
    <iframe src="../games/snake/snake.html" frameborder="0">
    

    </iframe>
    <table id="highScores">
        {{#each scores}}
        <tr>
            <td>{{this.user}}</td>
            <td>{{this.score}}</td>
        </tr>
        {{/each}}
    </table>
</div>



<script>
    // if top 10 places in the server chagnes, update the #highscores element.
</script>