<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <h1 class="main-title col-md-10">FLAPPY BIRD</h1>
    </div>
    <div id="user-login">
        <button class="backToGame-button">BACK TO GAMES</button>
    </div>
    <iframe src="../games/Flappy_Bird/index.html" frameborder="0" style="background:transparent">

    </iframe>
    <table id="highScores">
        {{#each scores}}
        <tr>
            <td>{{this.user}}</td>
            <td>{{this.score}}</td>
        </tr>
        {{/each}}
    </table>
</div>



<script>
    // if top 10 places in the server chagnes, update the #highscores element.
</script>