<div class="container">
    <div class="main-card">
    <h1 class="main-title">WELCOME TO COBRA ARCADE!</h1>
    <h2 class="main-title">SIGN UP BELOW</h2>
    <form id="create-user" method="POST" action="/createUser">
      <div class="form-group" id="user-login">
        <label for="userName">Username</label>
        <input name="userName" type="username" class="form-control login-field" placeholder="Enter username" id="username">
      </div>
      <hr>
      <div class="form-group" id="user-login">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control login-field" placeholder="Enter password" id="pwd">
      </div>
      <div id="user-login">
        <input type="submit" class="btn btn-primary submit-btn" value="Submit" form="create-user">
      </div>
    </form>
  </div>
</div>
<script>
  
</script>