/* MAIN COMPONENTS */
body {
    background-image: url("../img/bogdan-mb0sco-arcade-animate.gif");
}

iframe {
    background-color: white;
    position: relative;
    height: 650px;
    width: 100%;
}

/* NAV BAR */
.navbar {
    background-color: black;
}
.nav-title {
    color: white;
}

/* INDEX PAGE */
.main-title {
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
.main-card {
    background-color: black;
    color: white;
    margin-top: 25px;
}
#user-login {
    text-align: center;
}
.login-field{
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
.user-submit {
    align-content: center;
}
.submit-btn {
    margin-bottom: 10px;
}

/* GAME PAGE */
#game-page-background {
    background-image: url("../img/background-game.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.game-img{
    height: 500px;
    width: 100%;
    align-items: center;
    size: cover;
    margin: auto 0;
}
.game-img {
    align-content: center;
}
.game-name-background {
    background-color: black;
}
.click-game {
    text-align: center;
    color: white;
}
.logout-button {
    float: right;
}

/* PLAY PAGE */


/* CARDS */
.card {
    background-color: black;
    opacity: 0.75;
}
.card-body {
    color: white;
    text-align: center;
}